* {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    width: 80%;
    margin: auto;
}

header {
    border: 5px solid#0E0E52;
    background-color: #192BC2;
    margin-bottom: 10px;
    padding: 10px;
}

nav {
    border: 5px solid#0E0E52;
    background-color: #449DD1;
    margin-bottom: 10px;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    padding: 0px;
}
 
article {
    border: 5px solid#0E0E52;
    background-color: #78C0E0;
    margin-bottom: 10px;
    padding: 10px;
}

article img {
    max-width: 25%;
    text-wrap: wrap;
}
footer{
    border: 5px solid#0E0E52;
    background-color: #449DD1;
text-align: center;
    padding: 10px;
}
nav ul img {
    justify-content: space-evenly;
}